<h2><%= @task.name %></h2>
<p><%= @task.duration %></p>
<p><%= @task.difficulty %></p>
<p><%= @task.done %></p>
<%= link_to "Add a task", tasks_new_path %>
<%= link_to "Edit a task", tasks_edit_path(@task) %>
<%= link_to "Delete", tasks_delete_path(@task), method: :delete %>
